*{
    margin: 0;
    padding: 0% ;
}

body{
    width: 1280px ;margin:0 auto;
    font-family: 'Montserrat'
    
}
.header{
padding: 26px 0;

}
.header-navigation ul{
    text-align: center;
}


.header-navigation li{
    display: inline;
    margin: 0 36px;
}




.header-link{
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: red;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2.7px ;

}

.banner{
    height: 789px;
    background-image:url(../img/image\ 1.jpg);
    margin-bottom: 49px;
    width: 1280px;
    
}
.heading{
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
text-align: center;
margin-bottom: 48px;
}


.content{
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
margin-bottom: 28px;
}
.second-content{
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
margin-bottom: 66px;
}


.conteiner{
    text-align: center;
   
    
}

.button{
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;    
    background-color: red;
 width: 191px;
height: 51px;
border-radius: 4px;
border: 0px;
margin-bottom: 82px;

}
.span{
 color: #FFFFFF;
}

.link{
    text-decoration: none;
}

.footer{
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
margin-bottom: 29px;
margin-left: 713px;
color: #373737;
}